/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SeasOfHavoc implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * seasofhavoc.css
 *
 * SeasOfHavoc stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (seasofhavoc_seasofhavoc.tpl), and to HTML elements you create dynamically
    (in seasofhavoc.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

.cp_board {
	clear: both;
}

.board {
  position: relative;
  width: 1000px;
  height: 680px;
  margin-bottom: 5px;
  background-image: url(img/board.jpg);
}
#seaboard {
    position: relative;
    top: 97px;
    left: 310px;
    width: 380px;
    height: 380px;
}
.skiff_slot[data-slotname="capitol"][data-number="n1"] {
	top: 180px;
	left: 152px;
}
.skiff_slot[data-slotname="bank"][data-number="n1"] {
	top: 309px;
	left: 138px;
}
.skiff_slot[data-slotname="shipyard"][data-number="n1"] {
    top: 148px;
    left: 848px;
}
.skiff_slot[data-slotname="blacksmith"][data-number="n1"] {
    top: 431px;
    left: 845px;
}
.skiff_slot[data-slotname="green_flag"][data-number="n1"] {
    top: 69px;
    left: 53px;
}
.skiff_slot[data-slotname="tan_flag"][data-number="n1"] {
    top: 69px;
    left: 145px;
}
.skiff_slot[data-slotname="blue_flag"][data-number="n1"] {
    top: 69px;
    left: 823px;
}
.skiff_slot[data-slotname="red_flag"][data-number="n1"] {
    top: 69px;
    left: 917px;
}

.skiff_slot[data-slotname="market"] {
    position: absolute;
    bottom: 3px;
    right: 2px;
    z-index: 2;
}

.skiff_slot {
	position: absolute;
	width: 26px;
	height: 26px;
    border-radius: 50%;
	/* padding: 9px 7px 6px 4px; */
    margin: 2px;
    background-color: rgba(0, 34, 255, 0.306);
}
.skiff_slot.unoccupied:hover {
	outline-color: rgba(113, 74, 35, 0.7);
	outline-style: solid;
	outline-width: 2px;
}
.resource {
    width: 30px;
    height: 30px;
    background-image: url('img/resources.png');
    background-repeat: none;
    display: inline-block;
}
.cannonball {
    background-position: 0px 0px;
}
.sail {
    background-position: -30px 0px;
}
.doubloon {
    background-position: 0px -30px;
}
.infamy {
    background-position: -30px -30px;
}
.pivot_left {
    background-position: -60px 0px;
}
.pivot_right {
    background-position: -90px 0px;
}
.nope {
    background-position: -60px -30px;
}
.bgabutton_resource {
    background-color: #ecdfc3;
}
.flagish {
    background-image: url('img/flags_1stplayer.png');
    width: 50px;
    height: 50px;
    background-repeat: none;
    display: inline-block;
    position: relative;
}
.flagish[data-tokenkey="red_flag"] {
    background-position: 0px 0px;
}
.flagish[data-tokenkey="tan_flag"] {
    background-position: 0px -50px;
}
.flagish[data-tokenkey="green_flag"] {
    background-position: 0px -100px;
}
.flagish[data-tokenkey="blue_flag"] {
    background-position: 0px -150px;
}
.flagish[data-tokenkey="first_player_token"] {
    background-position: 0px -200px
}
.no_own_flag {
    opacity: 0.25;
}
.resource_count {
    position: relative;
    top: -10px;
}
.skiff {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}
.player_ship {
    width: 60px;
    height: 45.5px;
    background-image: url('img/bga_ships.png');
    background-size: 60px;
    position: relative;
}
.player_ship[data-shipname="Xebec"] {
    background-position: 0% -400%;
}
.player_ship[data-shipname="Ship-of-the-Line"] {
    background-position: 0% -200%;
}

.seaboardlocation {
    position: relative;
    background-color: red;
    width: 1px;
    height: 1px;
}
#card_display_dialog {
    width: 350px;
    background-color: white;
    height: 210px;
    margin-top: -200px;
    z-index: 20;
    position: absolute;
}
#card_choices {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    right: -50%;
    width: 50%;
    height: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.card_choice_radio_container {
    display: inline;
}
.card_choice_row_num {
    display: inline;
    margin-right: 10px;
}
#play_card_button {
    left: 60%;
    top: 5px;
    position: relative;   
}
.purchase_card_button {
    left: 13px;
    top: 100%;
    position: absolute;
}
a.disabled {
    pointer-events: none;
}
#cannonfire {
    position: relative;
}
#explosion {
    position: relative;
    left: -32px;
    top: -32px;
    z-index: 5;
}
#mycards {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}
