name: Unit Tests

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: php-actions/composer@v6
    - uses: php-actions/phpunit@v4
      with:
          version: 9.6
          bootstrap: modules/autoload.php
          configuration: modules/test/phpunit.xml
          args: --coverage-text